[submodule "Cool/CMake-Helpers"]
	path = Cool/CMake-Helpers
	url = https://github.com/CoolLibs/CMake-Helpers
[submodule "Cool/Log"]
	path = Cool/Log
	url = https://github.com/CoolLibs/Log
[submodule "Cool/App"]
	path = Cool/App
	url = https://github.com/CoolLibs/App
[submodule "Cool/OpenGL"]
	path = Cool/OpenGL
	url = https://github.com/CoolLibs/OpenGL
[submodule "Cool/File"]
	path = Cool/File
	url = https://github.com/CoolLibs/File
[submodule "Cool/Renderer_Fullscreen"]
	path = Cool/Renderer_Fullscreen
	url = https://github.com/CoolLibs/Renderer_Fullscreen
[submodule "Cool/Serialization"]
	path = Cool/Serialization
	url = https://github.com/CoolLibs/Serialization
[submodule "Cool/Random"]
	path = Cool/Random
	url = https://github.com/CoolLibs/Random
[submodule "Cool/Time"]
	path = Cool/Time
	url = https://github.com/CoolLibs/Time
[submodule "Cool/String"]
	path = Cool/String
	url = https://github.com/CoolLibs/String
[submodule "Cool/Params"]
	path = Cool/Params
	url = https://github.com/CoolLibs/Params
[submodule "Cool/ImGui"]
	path = Cool/ImGui
	url = https://github.com/CoolLibs/ImGui
[submodule "Cool/History"]
	path = Cool/History
	url = https://github.com/CoolLibs/History
[submodule "Cool/FileWatcher"]
	path = Cool/FileWatcher
	url = https://github.com/CoolLibs/FileWatcher
[submodule "Cool/Camera"]
	path = Cool/Camera
	url = https://github.com/CoolLibs/Camera/
[submodule "Cool/ExportImage"]
	path = Cool/ExportImage
	url = https://github.com/CoolLibs/ExportImage
[submodule "Cool/Exporter"]
	path = Cool/Exporter
	url = https://github.com/CoolLibs/Exporter
[submodule "Cool/MultiThread"]
	path = Cool/MultiThread
	url = https://github.com/CoolLibs/MultiThread
[submodule "Cool/LoadImage"]
	path = Cool/LoadImage
	url = https://github.com/CoolLibs/LoadImage
[submodule "Cool/Icons"]
	path = Cool/Icons
	url = https://github.com/CoolLibs/Icons
